{% extends 'base.html' %}

{% block content %}
<h1>Create todo</h1>

<form action="" method="post">
    {% csrf_token %}

        <form action="" method="post">
        {% csrf_token %}

        <div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>

            <button type="Submit" class="btn btn-primary w-100 mb-3">Submit</button>
        </div>
    </form>
</form>
{% endblock %}